[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
selenium = "*"
webdriver-manager = "*"
pytest = "*"
auto-py-to-exe = "*"
brotlipy = "*"
cffi = "*"

[dev-packages]

[requires]
python_version = "3.11"
